@import 'bootstrap-sprockets';
@import 'bootstrap';

$darkpurple: #64103f;

.edit-delete {
  margin-top: 20px;
}

// Sign up -- Sign in
.sign-link {
  a {
    color: $darkpurple;
  }
}

// Devise Error Messages
#error-explanation {
  background-color: #f2dede;
  color: #a94442;
  text-align: center;
  padding: 5px 20px;
  margin-bottom: 30px;

  h2 {
    font-size: 150%;
  }
}

footer {
  color: #64103f;
}
